@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

#hero {
    padding-top: 23px;
}
#navbar{
    width: 1152px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#logo{
    display: flex;
    align-items: center;
}
#menu{
    display:flex;
    align-items: center;

}
.menu_bar{
    list-style: none;
    display: flex;
}
.menu_link {
    color: #222;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    padding: 9px 24px;   
}

.menu_link:hover{
    color: #DAA520;

}

.sing_up_button{
    padding: 9px 36px;
    border: 1px solid #3E3F43;
    border-radius: 8px;
    color: #3E3F43;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Nunito' sans-serif;
    text-decoration: none;
    margin-left: 24px;
    height: 24px;
    display: block;

}

.titulo{ 
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    font-size: 80px;
    text-align: left;
    margin-bottom: 60px;
    margin-top: 70px;
    padding-left: 100px;
    font-weight: 10px;
}
.subtitulo{ 
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    font-size: 45px;
    padding: px px;
    text-align: left;
    margin-top: 70px;
    padding-left: 100px;
    font-weight: 10px;
}


#explore{
    display: flex;
    align-items: center;
    margin-left: 100px;
}
.explore{
    display: block;
    font-family: 'Nunito' sans-serif;
    font-weight: 10;
    background-color: #DAA520;
    border-radius: 10px;
    padding: 15px 15px;
    color: rgb(253, 253, 253);
    text-decoration: none;
    margin-top: 10px 30px;
}


